{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Interface d'Administration</h1>
        <p class="lead">Bienvenue dans l'interface d'administration du site www.sortir.com.</p>
        <br>
        <p>Pour revenir sur le site, clique sur le lien ci-dessous</p>
        <a href="{{path('accueil')}}" class="btn btn-primary">Aller sur le site</a>
    </div>

{% endblock %}