<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% apply inline_css(source('@email_css/email.css')) %}

            <h1>Bienvenue {{ prenom }} sur Sortir.com !</h1>
            <p>Nous sommes très heureux de vous compter parmis nous.</p>
            <br>
            <p>Vous trouverez-ci dessous vos identifiant temporaires de connexion à <strong>sortir.com</strong>.</p>
            <p> Identifiant : <strong> {{ identifiant }} </strong></p>
            <p> Mot de passe : <strong> {{ motDePasse }} </strong></p>
            <p>Pour votre sécurité, veuillez effectuer la modification de votre mot de passe lors de votre première connexion. </p>
            <br>
            <a href="{{ url('connexion') }}">Me connecter</a>

        {% endapply %}
    </body>
</html>